@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@model WebApp.MemesMVC.Models.UserModel

@{
    ViewData["Title"] = "Register";
}

@if (httpContextAccessor.HttpContext.Session.GetString("TOKEN") == null)
{
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-3">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input placeholder="Enter your login" asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                    <p class="text-danger"> @ViewBag.UserAlreadyExists </p>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="password" placeholder="Enter your password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input placeholder="Enter your email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <p class="text-danger"> @ViewBag.EmailAssigned </p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create account" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

