@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@model WebApp.MemesMVC.Models.UserModel

@{
    ViewData["Title"] = "Login";
}

@if (httpContextAccessor.HttpContext.Session.GetString("TOKEN") == null)
{
<div class="text-center">
    <h1>Sign in</h1>
    <hr />
    <div class="row justify-content-center">
        <form asp-action="Login">
            <div class="form-part col-auto">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" autocomplete="off" />
            </div>
            <div class="form-part col-auto">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
            </div>
            <div class="form-btn col-auto">
                <input type="submit" value="Sign in" class="btn" />
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <p class="text-danger"> @ViewBag.Error </p>
    </div>
</div>

}


