@model IEnumerable<WebApp.MemesMVC.Models.DisplayedPictureModel>

@{
    ViewData["Title"] = "Home Page"; 
}

<div class="row justify-content-md-center">
    <div class="col-md-10 text-center">
        <h1>Main page</h1>
        <hr />
        @foreach (var item in Model)
        {
            if (item.PictureTitle != null)
            {
                <h3>@item.PictureTitle</h3>
            }
            else
            {
                <h3> - </h3>
            }
            <h6>Author: @item.UserModelNickname</h6>
            <h6>@item.UploadTime</h6>
            <div class="image-container">
                <img src="@item.Url" />
            </div>
            <hr />
        }
        <div class="row d-flex justify-content-center">
            @if ((int)ViewBag.PageIndex > 1)
            {
                <div class="col-auto nav-button">
                    <a class="btn" asp-route-pageIndex=@(ViewBag.PageIndex - 1)
                       asp-controller="Home" asp-action="Index"> Prev </a>
                </div>
            }
            @if (Model.Count() == 10)
            {
                <div class="col-auto nav-button">
                    <a type="button" class="btn" asp-route-pageIndex=@(ViewBag.PageIndex + 1)
                       asp-controller="Home" asp-action="Index"> Next </a>
                </div>
            }
        </div>
    </div>
</div>
