@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1>  Management  </h1>
    <hr />

    <div class="row justify-content-center d-flex">
        <form class="col-auto">
            <div class="nav-button">
                <a class="btn" asp-controller="Management" asp-action="PictureManager">Check new pictures</a>
            </div>
            <div class="nav-button">
                <a class="btn" asp-route-roleType=@RoleTypes.USER asp-route-pageIndex=1
                   asp-controller="Management" asp-action="Index">Manage users</a>
            </div>
            @if (httpContextAccessor.HttpContext.Session.GetString("ROLE") == Enum.GetName(typeof(RoleTypes), RoleTypes.ADMIN))
            {
                <div class="nav-button">
                    <a class="btn" asp-route-roleType=@RoleTypes.MODERATOR asp-route-pageIndex=1
                       asp-controller="Management" asp-action="Index">Manage moderators</a>
                </div>
            }
        </form>
    </div>
</div>
