@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1>  Management  </h1>
    <hr />

        <form>
            <div class="nav-button row justify-content-center">
                <a class="col-md-3 col-5 btn" asp-controller="Management" asp-action="PictureManager">Check new pictures</a>
            </div>
            <div class="nav-button row justify-content-center">
                <a class="col-md-3 col-5 btn" asp-route-roleType=@RoleTypes.USER asp-route-pageIndex=1
                   asp-controller="Management" asp-action="Index">Manage users</a>
            </div>
            @if (httpContextAccessor.HttpContext.Session.GetString("ROLE") == Enum.GetName(typeof(RoleTypes), RoleTypes.ADMIN))
            {
                <div class="nav-button row justify-content-center">
                    <a class="col-md-3 col-5 btn" asp-route-roleType=@RoleTypes.MODERATOR asp-route-pageIndex=1
                       asp-controller="Management" asp-action="Index">Manage moderators</a>
                </div>
            }
        </form>
</div>
