@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Management";
}

<div class="form-container">
    <h1>  Management  </h1>
    <hr />
    <div class="form-center">
        <div class="form-group">
            <a class="btn" asp-route-roleType=@RoleTypes.USER asp-route-pageIndex=1
               asp-controller="Management" asp-action="Index">Check new pictures</a>
        </div>
        <div class="form-group">
            <a class="btn" asp-route-roleType=@RoleTypes.USER asp-route-pageIndex=1
               asp-controller="Management" asp-action="Index">Manage users</a>
        </div>
        @if (httpContextAccessor.HttpContext.Session.GetString("ROLE") == Enum.GetName(typeof(RoleTypes), RoleTypes.ADMIN))
        {
            <div class="form-group">
                <a class="btn" asp-route-roleType=@RoleTypes.MODERATOR asp-route-pageIndex=1
                   asp-controller="Management" asp-action="Index">Manage moderators</a>
            </div>
        }
    </div>
</div>