/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* body background color */
body {
    background-color: black;
    font-family: 'Segoe UI';
}

main {
    margin-top: 5%;
}

/* navbar style*/
.navbar-dark-gray {
    background-color: #202020;
    color: orange;
    border-bottom: 1px solid orange;
}

    .navbar-dark-gray a:hover {
        color: #FED8B1;
        background-color: none;
        transition-duration: 0.5s;
    }

    .navbar-dark-gray a::selection {
        background-color: none;
        color: #FED8B1;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* main style */
hr {
    width: 70%;
    border-top: 1px solid orange;
}

a, h1, h2, h6 {
    color: orange;
}

    a::selection, h1::selection, h2::selection, h6::selection {
        background-color: none;
        color: #FED8B1;
    }

/* nav button  */
.nav-button {
    margin-bottom: 20px;
}

    .nav-button a.btn {
        background-color: orange;
        border-color: black;
        color: #3B3B3B;
        transition-duration: 0.3s;
    }

        .nav-button a.btn:hover {
            background-color: #FED8B1;
            box-shadow: 0 0 1px 1px #3B3B3B;
            border-color: black;
            color: black;
        }

/* navbar toggler orange*/

.navbar-toggler {
    color: orange;
    border-color: orange;
    transition-duration: 0.3s;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,165,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    color: #FED8B1;
    border-color: #FED8B1;
}
/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* media
-------------------------------------------------- */
html {
    font-size: 10px;
}

@media only screen and (min-width: 576px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.footer {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #202020;
    white-space: nowrap;
    line-height: 30px;
    border-top: 1px solid orange;
}
/* Form & list containers
-------------------------------------------------- */
.form-part {
    width: 100%;
    margin-top: 10px;
}

    .form-part label {
        color: orange;
    }

        .form-part label::selection {
            color: #FED8B1;
        }

    .form-part input {
        color: orange;
        border-color:orange;
        background-color: #323232;
    }

        .form-part input:focus {
            background-color: #202020;
            color:orange;
            border-color:orange;
        }

        .form-part input::selection {
            background-color: none;
            color: #FED8B1;
        }

.form-btn {
    margin-top:15px;
    width: 100%;
}

    .form-btn input {
        background-color: orange;
        border-color: black;
        transition-duration: 0.5s;
    }

        .form-btn input:hover {
            background-color: #FED8B1;
            box-shadow: 0 0 1px 1px #FED8B1;
            border-color: orange;
            box-shadow: 0 0 1px 1px orange;
        }

/*.list-container {
    margin-top: 10%;
}

    .list-container dl {
        margin-top: 5%;
    }

.list-center dt {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.form-container, .list-container {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

    .form-container hr, .list-container hr, .upload-container hr {
        margin-left: 20%;
        margin-right: 20%;
    }

    .form-container input, .form-container a, .list-container input, .image-list a {
        width: 100%;
        background-color: #EAEAEA;
        border-color: #3B3B3B;
        color: #3B3B3B;
        transition-duration: 0.2s;
    }

        .form-container input:hover, .form-container a:hover, .list-container input:hover, .image-list a:hover {
            background-color: white;
            box-shadow: 0 0 1px 1px #3B3B3B;
            border-color: black;
            color: #3B3B3B;
        }

        .form-container input:focus, .form-container a:focus, .list-container input:focus, .image-list a:focus {
            box-shadow: none;
            border-color: #3B3B3B;
        }

        .form-container input::selection, .form-container a::selection, .list-container input::selection, .image-list a::selection {
            color: mediumpurple;
        }

.form-center, .list-center {
    margin-top: 2%;
    display: inline-block;
}

    .form-center label::selection, .list-center dd::selection, .list-center dt::selection {
        text-shadow: 2px 2px 0 #C0C0C0;
        color: mediumpurple;
    }

.form-container h1::selection, .list-container h1::selection, .upload-container label::selection, .upload-container input::selection, .upload-container h1::selection, .image-container h6::selection, .image-container h2::selection, .image-list h1::selection {
    text-shadow: 2px 2px 0 #C0C0C0;
    color: mediumpurple;
}

.btn-space input {
    margin-top: 0.5px;
    width: 45%;
    display: inline;
}*/

/* image upload form
--------------------------*/
/*.upload-container {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 20px;
    display: inline;
}

    .upload-container label, .upload-container input {
        width: 50%;
    }*/

/* image style
--------------------------*/
.image-container {
    display: inline-block;
    border: ridge;
    border-color: orange;
    width: 80%;
    max-height: 100%;
    margin-bottom: 15px;
}

    .image-container img {
        background-color: #202020;
        width: 100%;
        height: 100%;
    }

        .image-container img::selection {
            color: none;
        }

/* rainbow footer text
--------------------------*/
#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.rainbow {
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
