/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #EAEAEA;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #E0E0E0;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

    .footer a::selection {
        background-color: none;
        color: none;
    }

/* Form & list containers
-------------------------------------------------- */
.list-container {
    margin-top: 10%;
}

    .list-container dl {
        margin-top: 5%;
    }

.list-center dt {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.form-container, .list-container {
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

    .form-container hr, .list-container hr, .upload-container hr {
        margin-left: 20%;
        margin-right: 20%;
    }

    .form-container input, .form-container a, .list-container input, .image-list a {
        width: 100%;
        background-color: #EAEAEA;
        border-color: #3B3B3B;
        color: #3B3B3B;
        transition-duration: 0.2s;
    }

        .form-container input:hover, .form-container a:hover, .list-container input:hover, .image-list a:hover{
            background-color: white;
            box-shadow: 0 0 1px 1px #3B3B3B;
            border-color: black;
            color: #3B3B3B;
        }

        .form-container input:focus, .form-container a:focus, .list-container input:focus, .image-list a:focus {
            box-shadow: none;
            border-color: #3B3B3B;
        }

        .form-container input::selection, .form-container a::selection, .list-container input::selection, .image-list a::selection {
            color: mediumpurple;
        }

.form-center, .list-center {
    margin-top: 2%;
    display: inline-block;
}

    .form-center label::selection, .list-center dd::selection, .list-center dt::selection {
        text-shadow: 2px 2px 0 #C0C0C0;
        color: mediumpurple;
    }

.form-container h1::selection, .list-container h1::selection, .upload-container label::selection, .upload-container input::selection, .upload-container h1::selection, .image-container h6::selection, .image-container h2::selection, .image-list h1::selection {
    text-shadow: 2px 2px 0 #C0C0C0;
    color: mediumpurple;
}

.btn-space input {
    margin-top: 0.5px;
    width: 45%;
    display: inline;
}

/* image upload form
--------------------------*/
.upload-container {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 20px;
    display: inline;
}

    .upload-container label, .upload-container input {
        width: 50%;
    }

/* image style
--------------------------*/
.image-list {
    margin-top: 5%;
    text-align: center;
}
    .image-list div {

    }

.image-list hr{
    width:700px;
}

.image-container {
    display: inline-block;
    width: 650px;
    height: 690px;
    border: ridge;
    margin-top: 2.5%;
    background-color: #E0E0E0;
}

    .image-container h2{
        text-align: left;
        margin-left: 20px;
    }

    .image-container h6 {
        text-align: left;
        margin-left: 25px;
    }

.image-main-style {
    background-color: #C0C0C0;
    width: 600px;
    height: 600px;
    border: double;
    object-fit: scale-down;
}
.image-main-style::selection {
    color:none;
}

/* nav buttons
--------------------------*/
.nav-buttons{
    width:20%;
    display:inline-flex;
    text-align:center;
}

.nav-buttons div {
    margin-left:10px;
}

/* rainbow footer text
--------------------------*/
#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.rainbow {
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    letter-spacing: 0.5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
