/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* body background color */
body {
    background-color: black;
    font-family: 'Segoe UI';
}

main {
    margin-top: 5%;
}

/* navbar style*/
.navbar-dark-gray {
    background-color: #202020;
    color: orange;
    border-bottom: 1px solid orange;
}

    .navbar-dark-gray a:hover {
        color: #FED8B1;
        background-color: none;
        transition-duration: 0.5s;
    }

    .navbar-dark-gray a::selection {
        background-color: none;
        color: #FED8B1;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* main style */
hr {
    width: 70%;
    border-top: 1px solid orange;
}

a, h1, h3, h6, text {
    color: orange;
}

    a::selection, h1::selection, h2::selection, h6::selection, text::selection {
        background-color: none;
        color: #FED8B1;
    }

    a:hover {
        color: #FED8B1;
        text-decoration:none;
    }
/* nav button  */
.nav-button {
    margin-bottom: 20px;
}

    .nav-button a.btn {
        background-color: orange;
        border-color: black;
        color: #3B3B3B;
        transition-duration: 0.3s;
    }

        .nav-button a.btn:hover {
            background-color: #FED8B1;
            box-shadow: 0 0 1px 1px orange;
            border-color: orange;
            color: black;
        }

/* navbar toggler orange*/

.navbar-toggler {
    color: orange;
    border-color: orange;
    transition-duration: 0.3s;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,165,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    color: #FED8B1;
    border-color: #FED8B1;
}
/*
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/

/* media
-------------------------------------------------- */
html {
    font-size: 10px;
}

@media only screen and (min-width: 576px) {
    html {
        font-size: 10px;
    }
    .footer {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 16px;
    }
    .footer {
        font-size:18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
    .footer {
        font-size: 22px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #202020;
    white-space: nowrap;
    line-height: 35px;
    border-top: 1px solid orange;
}
/* Form & list containers
-------------------------------------------------- */
.form-part {
    width: 100%;
    margin-top: 10px;
}

    .form-part label, dl dt, dl dd {
        color: orange;
    }

        .form-part label::selection, dl dt::selection, dl dd::selection {
            color: #FED8B1;
        }

    .form-part input, .form-part select {
        color: orange;
        border-color:orange;
        background-color: #323232;
        overflow:hidden;
    }

        .form-part input:focus, .form-part select:focus, .form-part select option:focus {
            background-color: #202020;
            color: orange;
            border-color: orange;
            box-shadow: 0 0 1px 1px orange;
        }

        .form-part input::selection, .form-part select::selection {
            background-color: none;
            color: #FED8B1;
        }

.form-btn {
    margin-top:15px;
    width: 100%;
}

    .form-btn input {
        background-color: orange;
        border-color: black;
        transition-duration: 0.5s;
    }

        .form-btn input:hover {
            background-color: #FED8B1;
            border-color: orange;
            box-shadow: 0 0 1px 1px orange;
        }

        .form-btn::selection, .nav-button::selection{
            background-color:black;
        }

/* table */
table th, table td {
    color: orange;
}

    table th::selection, table td::selection{
        color: #FED8B1;
    }

/* text selection*/
.text-danger::selection, .text-success::selection {
    background-color: none;
    color: #FED8B1;
}

/* image style
--------------------------*/
.image-container {
    display: inline-block;
    border: ridge;
    border-color: orange;
    width: 80%;
    max-height: 100%;
    margin-bottom: 15px;
}

    .image-container img {
        background-color: #202020;
        width: 100%;
        height: 100%;
    }

        .image-container img::selection {
            color: none;
        }

/* rainbow footer text
--------------------------*/
#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}

.rainbow {
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.2px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow_animation 5s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
